{:about         {:name     {:first "Markus", :last "Walther"},
                 :position "DevOps & Backend Engineer",
                 :contact  {:email    "contact@markwalther.ch",
                            :phone    "Phone REDACTED",
                            :street   "Street REDACTED",
                            :city     "Bristol",
                            :postcode "Postcode REDACTED",
                            :country  "United Kingdom",
                            :website  "markwalther.ch",
                            :github   "markus-wa"},
                 :birth    {:year 1997, :location "Berne, Switzerland"},
                 :summary  "Highly passionate Software Engineer from Berne, Switzerland (currently based in the UK) who enjoys working with bright people. Enthusiastic about writing performant and robust code with an ideal skill set for developing large, distributed applications."},
 :experience    [{:company         "Hewlett Packard Enterprise, CMS",
                  :location        "Berne, Switzerland",
                  :position        "Technical Consultant",
                  :timeperiod      "September 2018 - March 2020",
                  :description     "Following the promotion to Technical Consultant, I started taking on further responsibilities in the Team and helped guide the technical direction of Swisscom's Wholesale Service Gateway (WSG) system. The software is a order-management system used by all Internet Service Providers in Switzerland. It handles provisioning of the underlying connection technology (Copper/Fiber) as well as services (TV/Internet) and SLA-assurance/incidents.",
                  :tasks           ["Analysis, design and implementation of new requirements"
                                    "Develop migration plans/strategies and present them to the customer"
                                    "Analysis and mitigation of performance issues in business-critical components"],
                  :accomplishments ["Migration of old Perl-based application to Angular 6 with Spring Boot as backend"
                                    "Dockerized a large Oracle database for the QA team"
                                    "Adoption of best-practices and modern tools (TDD, Lombok, IntelliJ)"]}
                 {:company         "Hewlett Packard Enterprise, CMS",
                  :location        "Berne, Switzerland",
                  :position        "IT Student / Software Developer",
                  :timeperiod      "September 2016 - September 2018",
                  :description     "After finishing my apprenticeship I joined the Communications & Media Services (CMS) department at HPE under a short term student-contract. There I was part of the Wholesale Service Gateway (WSG) development team and was able to expand and solidify my skills further.",
                  :tasks           ["Analysis, design and implementation of new requirements"
                                    "Bug fixing"
                                    "Third level support"],
                  :accomplishments ["Migrated the version control and build systems of a very large monolith from SVN to Git and Ant to Gradle, reducing the average build time from one hour to five minutes"
                                    "Implemented a Continuous Integration & Deployment pipeline in Jenkins"
                                    "Development of the first RESTful web services in the WSG using a contract-first approach with Swagger/OpenAPI"]}
                 {:company         "Hewlett Packard Enterprise, BSC",
                  :location        "Berne, Switzerland",
                  :position        "IT Apprentice",
                  :timeperiod      "August 2012 - August 2016",
                  :description     "During my apprenticeship at Hewlett Packard Enterprise I was able to obtain great first experiences in the world of large scale software development. As an apprentice I was part of the Banking Service Center (BSC) product-development team, creating modular parts of the IBIS3G core banking solution.",
                  :tasks           ["Implementation of new requirements (Java)" "Bug fixing"],
                  :accomplishments ["Rewrote a deprecated piece of software for managing banking information such as branch offices, bank document templates and currencies."
                                    "Development of a worklist management application consisting of a Java GUI plugin, an EJB web service and a database scheme."]}],
 :education     [{:at          "TEKO",
                  :location    "Berne, Switzerland",
                  :degree      "Advanced Federal Diploma of Higher Education in Information Technology",
                  :timeperiod  "October 2016 - October 2019",
                  :description "Majoring in Software Engineering I gained new insights in the areas of architecture and design of large systems. Additionally I was introduced to various new areas like Micro Electronics, Embedded Software and Android app development.",
                  :website     "https://teko.ch"}
                 {:at          "GIBB",
                  :location    "Berne, Switzerland",
                  :degree      "Federal VET Diploma in Information Technology",
                  :timeperiod  "August 2012 - August 2016",
                  :description "During my apprenticeship I also attended vocational school with focus on Software Development. There I learned about best practices, design patterns and project management.",
                  :website     "https://gibb.ch"}],
 :skills        [{:level "Very Good",
                  :entries ["Java 8" "Angular 7" "Go" "Gradle"]},
                 {:level "Good",
                  :entries ["Kotlin"
                              "Clojue"
                              "Docker"
                              "Git"
                              "Spring Boot"
                              "REST"
                              "OpenAPI"
                              "Linux"
                              "DevOps"
                              "TDD"]}
                 {:level "Basics",
                  :entries ["Python" "Groovy" "C++" "JPA" "Kubernetes" "Apache Tomcat" "SOAP" "HTML" "CSS"]}],
 :projects      [{:name        "demoinfocs-golang",
                  :platform    "Library",
                  :description "A library for parsing and analysing replays (aka. demos) of the game Counter-Strike: Global Offensive with over 2'000 downloads per week.",
                  :url         "https://github.com/markus-wa/demoinfocs-golang"}],
 :contributions [{:name        "openapi-generator",
                  :description "Improvements and bug fixes in the Java CXF generator.",
                  :url         "https://github.com/OpenAPITools/openapi-generator"}],
 :languages     [{:name "German", :level "mother tongue"}
                 {:name "English", :level "fluent, CEFR C1"}],
 :certificates  [{:issuer "Cambridge English", :name "Business English Certificate Vantage"}
                 {:issuer "Scrum.org", :name "Professional Scrum Master I"}]}
