{:about         {:name     {:first "Markus", :last "Walther"},
                 :position "Lead Software & Cloud Engineer",
                 :contact  {:email        "mark@saiko.tech",
                            :phone        "Phone Redacted",
                            :addressLine1 "",
                            :addressLine2 "Address Redacted",
                            :city         "Bristol",
                            :postcode     "Postcode Redacted",
                            :country      "United Kingdom",
                            :website      "saiko.tech",
                            :github       "markus-wa"},
                 :birth    {:year 1997, :location "Bern, Switzerland"},
                 :summary  "Highly passionate Software Engineer with over 12 years of experience who values learning from and contributing to talented teams. Enthusiastic about building performant and robust software that solves real problems effectively, with an ideal skill set for developing scalable and distributed systems."},
 :experience    [{:company         "Esportal"
                  :location        "Remote"
                  :position        "Lead Software & Cloud Engineer (Contract)"
                  :timeperiod      "April 2021 - Present"
                  :description     "Joining the Esportal backend team as an external Technical Consultant, I worked with a globally distributed team of engineers on improving and implementing core platform functionality, acting as technical leader in various projects. This included a re-write of the business-critical matchmaking system using a data-driven approach, implementing a game-server plugin for coordinating with the backend system and expanding the platform from a single game to support multiple games."
                  :tasks           ["Cloud-native service architecture, design & implementation (Go, GCP, Pub/Sub, BigQuery, Redis, Pulumi)"
                                    "Design & implementation of N-Dimensional video game matchmaking algorithm (Go)"
                                    "Game-server plugin for coordination/communication with backend (C#, Counter-Strike 2)"
                                    "Full-stack development - analysis, design, implementation & review (React, Go, SQL, REST, GraphQL)"
                                    "Anti-cheat client development (C++)"]
                  :accomplishments ["Architecture, design & implementation of high throughput, cloud-native cheat-detection & prevention solution"
                                    "Significant improvements in the matchmaking queue time and team balance thanks to data-driven approach"
                                    "Implemented monitoring and insights for the matchmaking system's performance"
                                    "Successfully expanded the platform from a single game to support multiple games"]}
                 {:company         "Saikō Technology"
                  :location        "Bristol, United Kingdom"
                  :position        "Director & Technical Consultant"
                  :timeperiod      "November 2020 - Present"
                  :description     "After expanding my skillset further at Kaluza, I started Saikō Technology, a software consultancy firm primarily focused on backend systems, data pipelines & eSports tech. I was quickly able to find a set of clients interested in my services who have been satisfied customers since."
                  :tasks           ["Software development and consulting for third party companies"
                                    "Client acquisition, business development and accounting"]
                  :accomplishments ["Built multiple successful business relationships with eSports services companies"
                                    "Successfully delivered a data processing pipeline for client (PureSkill.gg) within time and budget"]}
                 {:company         "Kaluza (OVO Group)",
                  :location        "Bristol, United Kingdom",
                  :position        "Backend & Cloud Engineer",
                  :timeperiod      "March 2020 - June 2021",
                  :description     "At Kaluza I joined a team of four engineers looking after development of the Flows microservices, an integral part of the Orion Energy Platform powering over half a million customers' electricity and gas supply. The Clojure services build a data ingestion pipeline, transforming the energy industry's unstructured data into neatly organised Kafka topics with well defined schemas.",
                  :tasks           ["Leadership of security workstream within the team"
                                    "Refinement, implementation and review of software development tasks (Clojure, Terraform, Kubernetes)"
                                    "Production support, DevSecOps work (GCP infrastructure, CI/CD, security etc.)"],
                  :accomplishments ["Migrated a set of microservices and infrastructure to a new GCP project (Terraform)"
                                    "Introduced linting & code-coverage into CI/CD pipeline (CircleCI & GitHub Workflows)"
                                    "Wrote a micro library for tracking log metrics (Clojure)"]}
                 {:company         "Hewlett Packard Enterprise, CMS",
                  :location        "Bern, Switzerland",
                  :position        "Technical Consultant",
                  :timeperiod      "September 2018 - March 2020",
                  :description     "Following the promotion to Technical Consultant, I started taking on further responsibilities in the Team and helped guide the technical direction of Swisscom's Wholesale Service Gateway (WSG) system. The software is a order-management system used by all Internet Service Providers in Switzerland. It handles provisioning of the underlying connection technology (Copper/Fiber) as well as services (TV/Internet) and SLA-assurance/incidents.",
                  :tasks           ["Analysis, design and implementation of new requirements"
                                    "Develop migration plans/strategies and present them to the customer"
                                    "Analysis and mitigation of performance issues in business-critical components"],
                  :accomplishments ["Migration of old Perl-based application to Angular 6 with Spring Boot as backend"
                                    "Dockerized a large Oracle database for the QA team"
                                    "Adoption of best-practices and modern tools (TDD, Lombok, IntelliJ)"]}
                 {:company         "Hewlett Packard Enterprise, CMS",
                  :location        "Bern, Switzerland",
                  :position        "IT Student / Software Developer",
                  :timeperiod      "September 2016 - September 2018",
                  :description     "After finishing my apprenticeship I joined the Communications & Media Services (CMS) department at HPE under a short term student-contract. There I was part of the Wholesale Service Gateway (WSG) development team and was able to expand and solidify my skills further.",
                  :tasks           ["Analysis, design and implementation of new requirements"
                                    "Bug fixing"
                                    "Third level support"],
                  :accomplishments ["Migrated the version control and build systems of a very large monolith from SVN to Git and Ant to Gradle, reducing the average build time from one hour to five minutes"
                                    "Implemented a Continuous Integration & Deployment pipeline in Jenkins"
                                    "Development of the first RESTful web services in the WSG using a contract-first approach with Swagger/OpenAPI"]}
                 {:company         "Hewlett Packard Enterprise, BSC",
                  :location        "Bern, Switzerland",
                  :position        "IT Apprentice",
                  :timeperiod      "August 2012 - August 2016",
                  :description     "During my apprenticeship at Hewlett Packard Enterprise I was able to obtain great first experiences in the world of large scale software development. As an apprentice I was part of the Banking Service Center (BSC) product-development team, creating modular parts of the IBIS3G core banking solution.",
                  :tasks           ["Implementation of new requirements (Java)" "Bug fixing"],
                  :accomplishments ["Rewrote a deprecated piece of software for managing banking information such as branch offices, bank document templates and currencies."
                                    "Development of a worklist management application consisting of a Java GUI plugin, an EJB web service and a database scheme."]}],
 :education     [{:at          "TEKO",
                  :location    "Bern, Switzerland",
                  :degree      "Advanced Federal Diploma of Higher Education in Information Technology",
                  :timeperiod  "October 2016 - October 2019",
                  :description "Majoring in Software Engineering I gained new insights in the areas of architecture and design of large systems. Additionally I was introduced to various new areas like Micro Electronics, Embedded Software and Android app development.",
                  :website     "https://teko.ch"}
                 {:at          "GIBB",
                  :location    "Bern, Switzerland",
                  :degree      "Federal VET Diploma in Information Technology",
                  :timeperiod  "August 2012 - August 2016",
                  :description "During my apprenticeship I also attended vocational school focusing on Software Development, where I learned about best practices, design patterns and project management.",
                  :website     "https://gibb.ch"}],
 :skills        [{:level "Expert",
                  :entries ["Backend"
                            "Clojure"
                            "Go"
                            "Google Cloud"
                            "Serverless"
                            "Cloud-native"
                            "CI/CD"
                            "Engineering Practices"]},
                 {:level "Skilled",
                  :entries ["Full-Stack"
                            "TypeScript"
                            "React"
                            "Java"
                            "SQL"
                            "Data-Driven-Development"
                            "DevSecOps"
                            "Terraform"
                            "Pulumi"
                            "AWS"
                            "Kubernetes"
                            "Docker"
                            "GraphQL"
                            "REST"
                            "OpenAPI"
                            "Git"
                            "Linux"]}
                 {:level "Familiar",
                  :entries ["Python"
                            "C#"
                            "Groovy"
                            "C++"
                            "Ansible"
                            "SOAP"
                            "HTML"
                            "CSS"]}],
 :projects      [{:name        "demoinfocs-golang",
                  :platform    "Library",
                  :description "A library for parsing and analysing replays (aka. demos) of the game Counter-Strike: Global Offensive with over 2'000 downloads per week.",
                  :url         "https://github.com/markus-wa/demoinfocs-golang"}
                 {:name        "cq",
                  :platform    "CLI tool",
                  :description "Clojure command-line data processor for JSON, EDN and other data formats.",
                  :url         "https://github.com/markus-wa/cq"}],
 :contributions [{:name        "openapi-generator",
                  :description "Improvements and bug fixes in the Java CXF generator.",
                  :url         "https://github.com/OpenAPITools/openapi-generator"}],
 :languages     [{:name "German", :level "native"}
                 {:name "English", :level "bilingual"}],
 :certificates  [{:issuer "Cambridge English", :name "Business English Certificate Vantage"}
                 {:issuer "Scrum.org", :name "Professional Scrum Master I"}]}
